body{
    background-color: burlywood;
}
table.links{
    border: solid;
    width: 200px;
    margin: 30px;
    background-color: lightgreen;
    text-align: center;
    float: left;
}
table.links td{
    border: solid;
}
table.content{
    border: solid;
    border-collapse: collapse;
    margin: 30px;
    background-color: gainsboro;
    width: 1170px;
    float: right;
}
table.content td{
    border: solid;
    padding: 10px 4px;
}
table.content td:first-child{
    text-align: center;
    width: 300px;
}